@import url('https://fonts.googleapis.com/css?family=Muli');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
.SearchDiv{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    align-items: center;
}
.DeleteButton{
    background-color: red;
    color:white;
    padding: .4rem;
    border-radius: 4px;
    outline: none;
}
.errorTxt{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
.CenterSpinner{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 2rem;
}
.hoverPackage{
    color: blue;
}
.hoverPackage:hover{
    cursor: pointer;
}
.packageRow{
    display: flex;
    flex-direction: row;
    width: 25rem;
    gap: 3rem;
    padding: .2rem;
}
.packageRowH{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding: .2rem;
}
.packageRow:hover{
    color: blue;
}
.packCellHover:hover{
    color: blue;
}
.packageCellH{
    text-align: center;
    font-weight: 600;
    font-size: 14px;

}
.packageCell{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}
.FarmerDataRow{
    display: flex;
    border: 1px solid #ccc;
    flex-direction: row;
    background-color: #fff;
    width: 70%;
    padding-top:.5rem;
    padding-bottom:.5rem;
    padding-right: 3rem;
    padding-left: 5px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.FarmerHeaderData{
    font-size: large;
    font-weight: 700;
}
.FarmerSectionData{
    font-size: 15px;
    font-weight: 400;
    color: #424147;
}
.AccordianWid{
    width: 70%;
}
.SelectMultipleField{
    width: 18rem;
}
.menuItem{
    font-size: 12px;  
}
.SelectionHolder{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}
.Printableholder{
    display: grid;
    padding: 3px;
    width: 100%;
    gap:1rem;
    grid-template-columns: repeat(3,1fr);
    background-color: #fff;
}
.SingleCard{
    display:flex;
    flex-direction: column;
    background: #ceffda;
    height: 60px;
    padding:5px;
    border: 1px dotted black;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background-color: #f7f8fc;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #424147;
}

.fullWidth{
   width: 95%;
   margin-left: 5px;
}
.productsRender{
    display: flex;
    width:15rem;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    padding: .3rem;

}
.numberSelector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slectedNumbers{
    padding-left: 5px;
    padding-right: 5px;
}

.errorMsg{
    color: red;
    font-size: small;
    display: flex;
    justify-content: center;
}
.HoverArror:hover{
    font-size: 1.3rem;
}
:hover{
    cursor: pointer;
}